@media (max-width: 450px) {
	.header .container {
		width: 390px;
	}

	.main .container {
		width: 390px;
	}

	.services .container {
		width: 390px;	
	}

	.us .container {
		width: 390px;
		padding: 10px 0px;
	}

	.us-item {
		margin-top: 20px;
	}

	.us__order-link {
		margin-top: 15px;
	}
} 

@media (max-width: 410px) {
	.header .container {
		width: 350px;
	}

	.main .container {
		width: 350px;
	}

	.main .main__youtube-video {
		width: 250px;
		height: 200px;
	}

	.main .main__content-title {
		width: 250px;
		font-size: 25px;
	}

	.main .main__content-subtext {
		width: 250px;
		font-size: 14px;
	}

	.main .main__content-link {
		font-size: 14px;
		padding: 5px 10px;
	}

	.services .container {
		width: 350px;	
	}

	.services__content-subtext {
		width: 250px;
	}

	.us .container {
		width: 350px;
	}

} 

@media (max-width: 370px) {
	.header .container {
		width: 310px;
	}

	.main .container {
		width: 310px;
	}

	.services .container {
		width: 310px;	
	}

	.us .container {
		width: 310px;
	}
} 


@media (max-width: 340px) {
	.header .container {
		width: 280px;
	}

	.main .container {
		width: 280px;
	}

	.services .container {
		width: 280px;	
	}

	.services__content-subtext {
		width: 220px;
	}

	.us .container {
		width: 280px;
	}

	.us__content-title  {
		width: 180px;
		text-align: center;
	}

	.us___content-subtext {
		width: 230px;
	}
} 

@media (max-width: 300px) {
	.header .container {
		width: 240px;
	}

	.main .container {
		width: 240px;
	}

	.main .main__youtube-video {
		width: 200px;
		height: 150px;
	}

	.main .main__content-title {
		width: 200px;
		font-size: 25px;
	}

	.main .main__content-subtext {
		width: 200px;
		font-size: 14px;
	}

	.main .main__content-link {
		font-size: 14px;
		padding: 5px 10px;
	}

	.services .container {
		width: 240px;	
		padding: 10px 0px 10px 0px;
	}

	.services__content-title {
		font-size: 20px;
	}

	.services__content-subtext {
		font-size: 14px;
		line-height: 22px;
		width: 200px;
	}

	.services-list {
		padding-top: 10px;
	}

	.services-item {
		width: 200px;
		height: 210px;
	}

	.services-img {
		width: 180px;
	}

	.services-text {
		font-size: 18px;
	}

	.services-subtext {
		font-size: 14px;
	}

	.services-link_buyurtma {
		font-size: 14px;
		padding: 5px 10px;
	}

	.services-link_xizmarlar {
		font-size: 14px;
	}

	.us .container {
		width: 240px;
	}

	.us__content-title {
		font-size: 22px;
	}

	.us___content-subtext {
		font-size: 14px;
		width: 170px;
	}

	.us-img {
		width: 150px;
	}

	.us-item-content__text {
		width: 170px;
		font-size: 18px;
	}

	.us-item-content__subtext {
		width: 180px;
		font-size: 14px;
	}

	.us-item:nth-child(even) .us-item-content__text {
		width: 170px;
		font-size: 18px;
	}

	.us-item:nth-child(even) .us-item-content__subtext {
		width: 180px;
		font-size: 14px;
	}

	.us__order-link  {
		font-size: 14px;
		padding: 5px 10px;
		margin-top: 10px;
	}
} 

@media (max-width: 260px) {
	.header .container {
		width: 200px;
	}

	.main .container {
		width: 200px;
	}

	.main .main__youtube-video {
		width: 170px;
		height: 150px;
	}

	.main .main__content-title {
		width: 170px;
	}

	.main .main__content-subtext {
		width: 170px;
	}

	.main .main__content-link {
		font-size: 12px;
	}

	.services .container {
		width: 200px;	
	}

	.services__content-subtext {
		font-size: 14px;
		line-height: 22px;
		width: 170px;
	}

	.services-list {
		padding-top: 10px;
	}

	.services-item {
		width: 170px;
		height: 180px;
		margin-bottom: 10px;
	}

	.services-img {
		width: 160px;
	}

	.services-link_buyurtma {
		font-size: 12px;
		padding: 5px 10px;
	}

	.services-link_xizmarlar {
		font-size: 12px;
	}

	.us .container {
		width: 200px;
	}

	.us-item {
		margin-top: 10px;
	}

	.us__content-title {
		font-size: 20px;
	}

	.us___content-subtext {
		font-size: 12px;
		line-height: 20px;
	}

	.us-item-content__text {
		font-size: 16px;
		margin: 0;
		padding: 0;
	}

	.us-item-content__subtext {
		font-size: 12px;
		line-height: 20px;
		padding: 0;
		margin: 0;
	}

	.us-item:nth-child(even) .us-item-content__text {
		width: 170px;
		font-size: 16px;
	}

	.us-item:nth-child(even) .us-item-content__subtext {
		width: 180px;
		font-size: 12px;
		line-height: 20px;
	}

	.us__order-link {
		font-size: 12px;
	}
} 

@media (max-width: 220px) {
	.header .container {
		width: 160px;
	}

	.main .container {
		width: 160px;
		padding: 10px 0px;
	}

	.main .main__youtube-video {
		width: 130px;
		height: 80px;
		padding-bottom: 5px;
	}

	.main .main__content-title {
		width: 130px;
		font-size: 18px;
	}

	.main .main__content-subtext {
		width: 130px;
		font-size: 10px;
		line-height: 20px;
		margin: 5px 0px 10px 0px;
	}

	.main .main__content-link {
		font-size: 10px;
		padding: 5px 10px;
	}

	.services .container {
		width: 160px;	
	}

	.services__content-title {
		font-size: 16px;
	}

	.services__content-subtext {
		font-size: 10px;
		line-height: 22px;
		width: 130px;
	}

	.services-list {
		padding-top: 10px;
	}

	.services-item {
		width: 130px;
		height: 140px;
	}

	.services-img {
		width: 110px;
	}

	.services-text {
		font-size: 14px;
	}

	.services-subtext {
		font-size: 10px;
	}

	.services-link_buyurtma {
		font-size: 10px;
		padding: 5px 10px;
	}

	.services-link_xizmarlar {
		font-size: 10px;
	}

	.us .container {
		width: 160px;
	}

	.us__content-title {
		font-size: 18px;
	}

	.us___content-subtext {
		font-size: 10px;
		line-height: 20px;
	}

	.us-img {
		width: 80px;
	}

	.us-item-content__text {
		font-size: 14px;
		margin: 0;
		padding: 0;
		width: 100px;
	}

	.us-item-content__subtext {
		font-size: 10px;
		line-height: 20px;
		padding: 0;
		margin: 0;
		width: 120px;
	}

	.us-item:nth-child(even) .us-item-content__text {
		width: 170px;
		font-size: 14px;
		width: 100px;
	}

	.us-item:nth-child(even) .us-item-content__subtext {
		width: 180px;
		font-size: 10px;
		line-height: 20px;
		width: 120px;
	}

	.us__order-link {
		font-size: 10px;
	}
} 

@media (max-width: 180px) {
	.header .container {
		width: 95%;
	}

	.main .container {
		width: 95%;
	}

	.services .container {
		width: 95%;	
	}

	.us .container {
		width: 95%;
	}
} 