@media (max-width: 500px) {

	* {
		width: auto;
	}

	/*header-header*/

	.header .container {
		width: 460px;
	}

	.header .nav {
		flex-direction: column;
	}

	.nav-list {
		flex-direction: column;
	}

	/*main-main*/

	.main .container {
	width: 460px;
	}

	/*section-xizmatlar*/

	.xizmatlar .container {
		width: 460px;
	}

	/*section-biz*/

	.biz .container {
		width: 460px;
	}

	/*section-buyurtma*/

	.buyurtma .container {
		width: 460px;
		background-color: #ffffff;
	}

	/*footer-copyright*/

	.copyright .container {
		width: 460px;
		background-color: #ffffff;
	}
}