@media (max-width: 1180px) {
	.header .container {
		width: 1100px;
	}

	.main .container {
		width: 1100px;
	}
}

@media (max-width: 1140px) {
	.header .container {
		width: 1050px;
	}

	.main .container {
		width: 1050px;
	}
}

@media (max-width: 1100px) {
	.header .container {
		width: 1020px;
	}

	.main .container {
		width: 1020px;
	}
}

@media (max-width: 1040px) {
	.header .container {
		width: 960px;
	}

	.main .container {
		width: 960px;
	}

	.main .main__content-title {
		width: 350px;
	}

	.main .main__content-subtext {
		width: 360px;
	}
}

@media (max-width: 992px) {

	.header .container {
		width: 940px;
	}

	.nav-list {
		width: 600px;
	}

	.main .container {
		width: 940px;
	}

}

@media (max-width: 960px) {

	.header .container {
		width: 900px;
	}

	.main .container {
		width: 900px;
	}

}


@media (max-width: 930px) {

	.header .container {
		width: 870px;
	}

	.main .container {
		width: 870px;
	}

	.main .main__youtube-video {
		width: 400px;
	}

}

@media (max-width: 895px) {

	.header .container {
		width: 820px;
	}

	.main .container {
		width: 820px;
	}

}

@media (max-width: 850px) {

	.header .container {
		width: 790px;
	}

	.header .nav {
		flex-direction: column;
	}

	.nav-image {
		padding-bottom: 10px;
	}

	.main .container {
		width: 790px;
		flex-direction: column-reverse;
	}

	.main .main__youtube-video {
		width: 550px;
		padding-bottom: 20px;
	}

	.main .main__content-title {
		width: 470px;
	}

	.main .main__content-subtext {
		width: 465px;
	}

}
