@media (max-width: 1180px) {
	.header .container {
		width: 1100px;
	}

	.main .container {
		width: 1100px;
	}

	.services .container {
		width: 1100px;
	}

	.services-item {

	}

	.services-item_margin {
		margin: 0px 50px 40px 50px;
	}

	.services-item_margin-bottom-left {
		margin-right: 25px;
	}

	.services-item_margin-bottom-right {
		margin-left: 25px;
	}

	.us .container {
		width: 1100px;
	}

	.order .container {
		width: 1100px;
	}

	.copyright .container {
		width: 1100px;
	}

}

@media (max-width: 1140px) {
	.header .container {
		width: 1050px;
	}

	.main .container {
		width: 1050px;
	}

	.services .container {
		width: 1050px;
	}

	.services-item {
		margin-bottom: 30px;
	}

	.services-item_margin {
		margin: 0px 30px 30px 30px;
	}

	.services-item_margin-bottom-left {
		margin-right: 15px;
	}

	.services-item_margin-bottom-right {
		margin-left: 15px;
	}

	.us .container {
		width: 1050px;
	}

	.order .container {
		width: 1050px;
	}

	.copyright .container {
		width: 1050px;
	}

}

@media (max-width: 1100px) {
	.header .container {
		width: 1020px;
	}

	.main .container {
		width: 1020px;
	}

	.main .main__youtube-video {
		width: 500px;
		height: 315px;
	}

	.services .container {
		width: 1020px;
	}

	.services-item {
		width: 318px;
	}

	.services-img {
		width: 250px;
	}

	.us .container {
		width: 1020px;
	}

	.order .container {
		width: 1020px;
	}

	.copyright .container {
		width: 1020px;
	}
}

@media (max-width: 1040px) {
	.header .container {
		width: 960px;
	}

	.main .container {
		width: 960px;
	}

	.main .main__content-title {
		width: 350px;
	}

	.main .main__content-subtext {
		width: 360px;
	}

	.services .container {
		width: 960px;
	}

	.services-item {
		width: 295px;
		height: 300px;
	}

	.us .container {
		width: 960px;
	}

	.order .container {
		width: 960px;
	}

	.copyright .container {
		width: 960px;
	}

}

@media (max-width: 992px) {

	.header .container {
		width: 940px;
	}

	.nav-list {
		width: 600px;
	}

	.main .container {
		width: 940px;
	}

	.services .container {
		width: 940px;
	}

	.services-item {
		width: 290px;
	}

	.services-img {
		width: 250px;
	}

	.us .container {
		width: 940px;
	}

	.order .container {
		width: 940px;
	}

	.copyright .container {
		width: 940px;
	}

}

@media (max-width: 960px) {

	.header .container {
		width: 900px;
	}

	.main .container {
		width: 900px;
	}

	.services .container {
		width: 900px;
	}

	.services-item {
		width: 278px;
	}

	.us .container {
		width: 900px;
	}

	.order .container {
		width: 900px;
	}

	.copyright .container {
		width: 900px;
	}

}


@media (max-width: 930px) {

	.header .container {
		width: 870px;
	}

	.main .container {
		width: 870px;
	}

	.main .main__youtube-video {
		width: 400px;
	}

	.services .container {
		width: 870px;
	}

	.services-item {
		width: 268px;
		height: 250px;
	}

	.services-img {
		width: 240px;
		
	}

	.services-text {
		padding-top: 5px;
	}

	.services-subtext {
		padding-top: 5px;
	}

	.us .container {
		width: 870px;
	}

	.order .container {
		width: 870px;
	}

	.copyright .container {
		width: 870px;
	}

}

@media (max-width: 895px) {

	.header .container {
		width: 820px;
	}

	.main .container {
		width: 820px;
	}

	.services .container {
		width: 820px;
	}

	.services-item {
		width: 252px;
		height: 250px;
	}

	.services-img {
		width: 240px;
		
	}

	.services-text {
		padding-top: 5px;
	}

	.services-subtext {
		padding-top: 5px;
	}

	.us .container {
		width: 820px;
	}

	.us-img {
		width: 250px;
	}

	.order .container {
		width: 820px;
	}

	.copyright .container {
		width: 820px;
	}

}

@media (max-width: 850px) {

	.header .container {
		width: 790px;
		flex-direction: column;
		justify-content: center;
	}

	.nav-image {
		padding-bottom: 10px;
	}

	.main .container {
		width: 790px;
		flex-direction: column-reverse;
	}

	.main .main__youtube-video {
		width: 550px;
		padding-bottom: 20px;
	}

	.main .main__content-title {
		width: 470px;
	}

	.main .main__content-subtext {
		width: 465px;
	}

	.services .container {
		width: 790px;
		padding: 20px 0px 20px 0px;
	}

	.services-list {
		justify-content: center;
	}

	.services-item_third {
		margin-right: 30px;
	}

	.services-item_margin {
		margin: 0px 0px 30px 30px;
	}

	.services-item_margin-bottom-left {
		margin-right: 0px;
	}

	.services-item_margin-bottom-right {
		margin-left: 5px

	}

	.services__content-subtext {
		width: 500px;
	}

	.us .container {
		width: 790px;
		padding: 20px 0px;
	}

	.us-img {
		width: 250px;
	}

	.us-item-content__subtext {
		width: 300px;
	}

	.us___content-subtext {
		width: 500px;
	}

	.us__order-link {
		margin-top: 20px;
	}

	.us-item:nth-child(even) .us-item-content__text {
		width: 250px;
	}

	.order .container {
		padding: 20px 0px;
		width: 790px;
	}

	.order__subtext {
		width: 550px;
	}

	.copyright .container {
		padding: 20px 0px;
		width: 790px;
	}

	.copyright-item_second{
		margin: 0px 50px 0px 50px;
	} 

}