@media (max-width: 720px) {
	.header .container {
		width: 660px;
	}

}

@media (max-width: 680px) {
	.header .container {
		width: 600px;
	}

	.nav-list {
		flex-direction: column;
		width: 100%;
	}

	.nav-link {
		margin-bottom: 10px;
	}
}

@media (max-width: 620px) {
	.header .container {
		width: 560px;
	}
}

@media (max-width: 590px) {
	.header .container {
		width: 530px;
	}
}

