@media (max-width: 790px) {
	.header .container {
		width: 730px;
	}

	.main .container {
		width: 730px;
	}

	.main .main__youtube-video {
		width: 480px;
		height: 315px;
	}

	.services .container {
		width: 730px;
	}

	.us .container {
		width: 730px;
	}

	.us-img {
		width: 220px;
	}

	.order .container {
		width: 730px;
	}

	.copyright .container {
		width: 730px;
	}


}

@media (max-width: 722px) {
	.header .container {
		width: 660px;
	}

	.main .container {
		width: 660px;
		padding: 40px 0;
	}

	.main .main__youtube-video {
		width: 400px;
		padding-bottom: 20px;
	}

	.main .main__content-title {
		width: 400px;
		text-align: center;
	}

	.main .main__content-subtext {
		width: 400px;
		text-align: center;
	}

	.main .main__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.services .container {
		width: 660px;
	}

	.us .container {
		width: 660px;
	}

	.order .container {
		width: 660px;
	}

	.copyright .container {
		width: 660px;
	}

	.copyright-item_second{
		margin: 0px 25px 0px 25px;
	}

}

@media (max-width: 680px) {
	.header .container {
		width: 600px;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav-toggle {
		display: inline-block;
	}

	.nav-list {
		display: none;
	}

	.main .container {
		width: 600px;
	}

	.services .container {
		width: 600px;
	}

	.us .container {
		width: 600px;
	}

	.us-item-content__text  {
		width: 250px;
	}

	.us-item-content__subtext {
		width: 280px;
	}

	.order .container {
		width: 600px;
	}

	.order__subtext {
		width: 450px;
	}

	.copyright .container {
		width: 600px;
	}

	.copyright-text {
		margin-bottom: 0;
	}

	.copyright-subtext {
		width: 200px;
	}

	.copyright-list {

	}

	
}

@media (max-width: 620px) {
	.header .container {
		width: 560px;
	}

	.main .container {
		width: 560px;
	}

	.services .container {
		width: 560px;
	}

	.services__content-subtext {
		width: 420px;
	}

	.services-item {
		margin-bottom: 15px;
	}

	.services-item_third {
		margin-right: 15px;
	}

	.services-item_margin {
		margin: 0px 0px 15px 15px;
	}

	.services-item_margin-bottom-left {
		margin-right: 0px;
	}

	.services-item_margin-bottom-right {
		margin-left: 5px
	}

	.us .container {
		width: 560px;
	}

	.order .container {
		width: 560px;
	}

	.copyright .container {
		width: 560px;
	}

	.copyright-subtext {
		margin-top: 5px;
	}

	.copyright-link {
		margin-top: 5px;
	}
}

@media (max-width: 590px) {
	.header .container {
		width: 530px;
	}

	.main .container {
		width: 530px;
	}

	.services .container {
		width: 530px;
	}

	.services-list {
		flex-direction: column;
	}

	.services-item {
		margin-bottom: 20px;
	}

	.services-item_third {
		margin-right: 0px;
	}

	.services-item_margin {
		margin: 0px 0px 15px 0px;
	}

	.services-item_margin-bottom-left {
		margin-right: 0px;
	}

	.services-item_margin-bottom-right {
		margin-left: 0px
	}

	.services-footer {
		flex-direction: column-reverse;
		justify-content: center;
		width: 100%;
	}

	.services-link_buyurtma {
		margin-top: 10px;
	}

	.us .container {
		width: 530px;
	}

	.us___content-subtext {
		width: 350px;
		margin: 0px;
	}

	.us-item {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 25px;
	}

	.us-item:nth-child(even) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.us-item-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	}

	.us-item-content__text {
		text-align: center;
	}

	.us-item-content__subtext {
		text-align: center;
		width: 200px;
	}

	.order .container {
		width: 530px;
	}

	.copyright .container {
		width: 530px;
		padding: 0px 0px 20px 0px;
	}

	.copyright-list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.copyright-item {
		margin-top: 20px;
		justify-content: center;
		align-items: center;
	}

	.copyright-subtext {
		text-align: center;
	}

}

