@media (max-width: 576px) {
	.header .container {
		width: 540px;
	}

	.header .nav {
		padding: 15px 10px 15px 10px;
	}

	.nav__img-pixer {
		margin-bottom: 35px;
	}

	.nav__img-pixer__image {
		width: 40px;
	}

	.nav-list {
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 400px; 
	}

	.nav-item {
		margin: 0px 0px 0px 10px;
	}

	.nav-item__link {
		font-size: 13px;
	}

	.nav-item_number {
		margin-top: 8px;
		display: inline-block;
	}

	/*main-main*/

	.main .container {
		width: 540px;
		padding: 40px 0px;
	}

	.main__youtube-video {
		width: 330px;
	}

	.main__content-title {
		width: 300px;
		font-size: 28px;
		line-height: 130%;
	}

	.main__content-subtext {
		width: 300px;
		font-size: 14px;
		line-height: 22px;
	}

	.main__content-link {
		font-size: 14px;
		padding: 5px 10px
	}

	/*section-xizmatlar*/

	.xizmatlar .container {
		width: 540px;
	}

	.xizmatlar__content-title {
		font-size: 22px;
	}

	.xizmatlar__content-subtext {
		font-size: 14px;
		width: 330px;
	}

	.xizmatlar__list {
		flex-direction: column;
	}
	.xizmatlar__item {
		width: 290px;
		margin-bottom: 20px;
	}

	.xizmatlar__item_margin {
		margin-bottom: 20px;
	}

	.xizmatlar_item_margin-bottom-left {
		margin-right: 0px;
	}

	.xizmatlar__item_margin-bottom-right {
		margin-left: 0px;
	}

	.xizmatlar__item-img {
		width: 180px;
	}

	.xizmatlar__item-text {
		font-size: 18px;
		padding-top: 5px;
	}

	.xizmatlar__item-subtext {
		font-size: 14px;
		padding-top: 10px;
	}

	.xizmatlar__footer {
		flex-direction: column-reverse;
		width: 230px;
		height: 60px;
	}

	.xizmatlar__footer-link_buyurtma {
		font-size: 14px;
		padding: 5px 10px;
	}

	.xizmatlar__footer-link_xizmarlar {
		font-size: 14px;
	}

	/*section-biz*/

	.biz .container {
		width: 540px;
	}

	.biz__content {
		justify-content: center;
		align-items: center;
	}

	.biz__content-title {
		font-size: 22px;
		text-align: center;
	}

	.biz___content-subtext {
		font-size: 14px;
		width: 340px;
		line-height: 22px;
		margin: 2px 0px 10px 0px;
		text-align: center;
	}

	.biz__item {
		margin-top: 25px;
	}

	.biz__item-img {
		width: 180px;
	}

	.biz__item__content {
		padding-left: 0;
	}

	.biz__item__content-text {
		font-size: 18px;
		text-align: center;
	}

	.biz__item__content-subtext {
		font-size: 14px;
	}

	.biz__link-buyurtma {
		font-size: 14px;
		padding: 5px 10px;
		margin-top: 25px;
	}

	/*section-buyurtma*/

	.buyurtma .container {
		width: 540px;
	}

	.buyurtma__title {
		font-size: 22px;
	}

	.buyurtma__subtext {
		font-size: 14px;
		width: 330px;
	}

	.buyurtma__content {
		padding: 15px;
	}

	.buyurtma__content-input_name  {
		font-size: 14px;
		padding: 12px;
	}

	.buyurtma__content-input_number  {
		font-size: 14px;
		padding: 12px;
	}

	.buyurtma__content-select  {
		font-size: 14px;
		padding: 12px;
	}

	.buyurtma__content-link_buyurtma {
		font-size: 14px;
		padding: 5px 10px;
	}

	/*footer-copyright*/

	.copyright .container {
		width: 540px;
	}

	.copyright__item {
		align-items: center;
	}

	.copyright__item-text {
		font-size: 18px;
	}

	.copyright__item-subtext {
		text-align: center;
		font-size: 14px;
		margin-top: 0;
	}

	.copyright__item-link {
		font-size: 14px;
		margin-top: 5px;
	}

	.copyright__item-link_social {
		font-size: 14px;
		width: 85px;
	}

	.copyright__item-link__img {
		width: 13px;
	}
}