@media (max-width: 576px) {
	.header .container {
		width: 516px;
	}

	.main .container {
		width: 516px;
	}

	.services .container {
		width: 516px;
	}

	.services__content-subtext {
		width: 350px;
	}
}

@media (max-width: 540px) {
	.header .container {
		width: 480px;
	}

	.main .container {
		width: 480px;
	}

	.main .main__youtube-video {
		width: 300px;
	}

	.main .main__content-title {
		width: 300px;
	}

	.main .main__content-subtext {
		width: 300px;
	}

	.services .container {
		width: 480px;
	}

}

@media (max-width: 500px) {
	.header .container {
		width: 440px;
	}

	.main .container {
		width: 440px;
	}

	.services .container {
		width: 440px;	
	}

	.services__content-subtext {
		width: 280px;
		padding-top: 0px;
	}
}
