@media (max-width: 576px) {
	.header .container {
		width: 516px;
	}

	.main .container {
		width: 516px;
	}

	.services .container {
		width: 516px;
	}

	.services__content-subtext {
		width: 350px;
	}

	.us .container {
		width: 516px;
	}

	.order .container {
		width: 516px;
	}

	.order__subtext {
		width: 350px;
	}

	.form-input_name  {
		width: 250px;
	}

	.form-input_number  {
		width: 250px;
	}

	.form-select {
		width: 250px;
	}
}

@media (max-width: 540px) {
	.header .container {
		width: 480px;
	}

	.main .container {
		width: 480px;
	}

	.main .main__youtube-video {
		width: 300px;
	}

	.main .main__content-title {
		width: 300px;
	}

	.main .main__content-subtext {
		width: 300px;
	}

	.services .container {
		width: 480px;
	}

	.us .container {
		width: 480px;
	}

	.order .container {
		width: 480px;
	}

}

@media (max-width: 500px) {
	.header .container {
		width: 440px;
	}

	.main .container {
		width: 440px;
	}

	.services .container {
		width: 440px;	
	}

	.services__content-subtext {
		width: 280px;
		padding-top: 0px;
	}

	.us .container {
		width: 440px;
	}

	.us-img {
		width: 200px;
	}

	.us___content-subtext {
		width: 280px;
	}

	.order .container {
		width: 440px;
		padding: 20px 0px;
	}

	.order__subtext  {
		margin-top: 5px;
	}

	.order-form {
		margin-top: 15px;
	}


}
